@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chatexto: 144, 51%, 34%;
    --chatexto-yellow: 7, 62%, 47%;
    --border: #131413;
    --background: #0c0d0c;
  }
}

body {
  @apply bg-background text-white font-custom;
}

.text-gradient {
  background: linear-gradient(101deg, hsl(var(--chatexto)) 10%, hsl(var(--chatexto-yellow)) 92.73%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(101deg, hsl(var(--chatexto)) 10%, hsl(var(--chatexto-yellow)) 92.73%);
}

.border-gradient {
  border-image: linear-gradient(101deg, hsl(var(--chatexto)) 10%, hsl(var(--chatexto-yellow)) 92.73%);
}

/**
 * Custom Scrollbar
 */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 10px;
  border: 3px solid var(--background);
}
